@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LineSeedKR';
  font-weight: 100;
  src: url('font/LINESeedKR-Th.woff2') format('woff2');
}
@font-face {
  font-family: 'LineSeedKR';
  font-weight: 400;
  src: url('font/LINESeedKR-Rg.woff2') format('woff2');
}
@font-face {
  font-family: 'LineSeedKR';
  font-weight: 700;
  src: url('font/LINESeedKR-Bd.woff2') format('woff2');
}

@layer base {
  html {
    font-size: 100%;
    width: 100%;
    color: #2d2d2d;
    background-color: #fcfcfc;
    font-family: LineSeedKR;
    scroll-behavior: smooth;
  }

  body {
    font-size: 15px;
    margin: 0;
    color: #222;
    line-height: 1.5rem;
  }

  .app-layout {
    width: 100%;
    margin: auto;
  }
}
